---

---

<section class="container lg:max-w-4xl md:max-w-2xl mt-20" >
	<div class="container max-w-xl flex flex-col  justify-center gap-4">
		<div class="flex items-center gap-4">
			<!-- Image and redirect to linkeding -->
			<img
				class="w-24 h-24 rounded-full"
				src="https://avatars.githubusercontent.com/u/83848297?v=4"
				alt="Brayan Perez avatar"
			/>
			<a href="">Open to work</a>
		</div>
		<h1 class="text-5xl font-bold">Hola, Soy Brayan</h1>
		<p class="text-xl mt-7">
			I'm Brayan Pérez, a
			<strong>
				front-end developer and integration specialist with
				over 3 years of experience in web development and 2 years as a freelance
				developer and data analyst
			</strong>
			 . While pursuing my degree in Mechanical
			Engineering, I’ve developed a passion for software development and data
			analysis.
		</p>
		<nav class="flex gap-x-4">
			<a href="/" class="border-2 border-primary rounded-full px-4 py-0 
			bg-tertiary hover:bg-primary hover:text-dark hover:scale-105 transition-all duration-300">
				<!-- svg image -->
				<p>Contact me</p>
			</a>
			<a href="/" class="border-2 border-primary rounded-full px-4 py-0 
			bg-tertiary hover:bg-primary hover:text-dark hover:scale-105 transition-all duration-300">
				<!-- svg image -->
				<p>LinkedIn</p>
			</a>
		</nav>
	</div>
</section>
