---

---

<header class="fixed w-full flex justify-center items-center mt-4">
	<nav
		class="flex justify-around container rounded-full border-2
	border-primary bg-tertiary text-primary max-w-md
		"
	>
		<a href="/" class="text-xl hover:text-lg transition-all
			duration-300"
			>Experiencia
		</a>
		<a href="/" class="text-xl hover:text-lg transition-all duration-300"
			>Proyectos</a
		>
		<a href="/" class="text-xl hover:text-lg transition-all duration-300"
			>Sobre mi</a
		>
	</nav>
</header>

<style></style>
