---
import '@fontsource-variable/onest';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--primary-color: #e4d9ff;
		--secondary-color: #1e2749;
		--tertiary-color: #273469;
		--white-color: #fafaff;
		--dark-color: #30343f;

		color-scheme: light dark;
	}
	body {
		display: flex;
		justify-content: center;
		background-color: var(--secodary-color);
		min-height: 100vh;
		font-family: 'Onest Variable', sans-serif;
	}
</style>
